{% extends "base.html.twig" %}

{% block content %}
    <div class="row" id="mainPage">
        <div class="col-lg-12">

            <section class="panel">
                <div class="panel-body">
                    <header class="panel-heading ">
                        Novo Registro
                        <span class="tools pull-right">
                                     <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                                     <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                                </span>
                    </header>

                    <div class="panel-body">

                        <form role="form" id="formPage" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="txtPage">Menu</label>
                                <select class="form-control  select2" id="txtPage" name="txtMenu">
                                    <option value="">Selecione uma opção</option>
                                    {% for menu in data.menus %}
                                        <option value="{{ menu.id }}" {{ selected }}>{{ menu.description }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="menu">Nome curto</label>
                                <input type="text" class="form-control" id="txtNameClean" name="txtNameClean" placeholder="Informe uma descrição curta">
                            </div>

                            <div class="form-group">
                                <label for="menu">Descri&ccedil;&atilde;o</label>
                                <input type="text" class="form-control" id="txtName" name="txtName" placeholder="Informe uma descrição">
                            </div>

                            <div class="form-group">
                                <input id="chkStatus" type="checkbox" name="chkStatus" class="form-control js-switch-blue"
                                       checked/>
                                <label for="chkStatus" class="control-label">Ativar/Inativar Registro</label>
                            </div>

                            <input type="hidden" id="txtPageEdit" name="txtPageEdit"/>

                            <button class="btn btn-success" type="submit" id="btnSalvar">Salvar</button>

                        </form>

                    </div>

                </div>

                <!-- Modal -->
                <div class="modal fade" id="removeData" data-toggle="modal" tabindex="-1" role="dialog" aria-labelledby="removeData"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title">Cadastro::Page</h4>
                            </div>
                            <div class="modal-body">
                                <p>O registro será deletado.</p>
                                <p>Confirma operação?</p>
                                <input type="hidden" id="data-id"/>
                            </div>
                            <div class="modal-footer">
                                <button data-dismiss="modal" class="btn btn-send">Cancelar</button>
                                <button class="btn btn-danger" id="btnRemover">Remover</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- modal -->

            </section>

            <section class="panel">
                <header class="panel-heading ">
                    Lista de registros
                    <span class="tools pull-right">
                                    <a class="fa fa-repeat box-refresh" href="javascript:;" onclick="resetForm('formPage')"></a>
                                    <a class="t-collapse fa fa-chevron-down" href="javascript:;"></a>
                                </span>
                </header>
                <table class="table colvis-data-table data-table">
                    <thead>
                    <tr>
                        <th width="5%">#</th>
                        <th width="35%">P&aacute;gina</th>
                        <th width="35%">MENU</th>
                        <th width="5%">AÇÃO</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in data.pages %}
                        <tr>
                            <td>{{ page.id }}</td>
                            <td>{{ page.nameClean }}</td>
                            <td>{{ page.menu.descripton }}</td>
                            <td>
                                <button class="btn btn-primary btn-xs" id="btnEditPage" data-id="{{ page.id }}"><i class="fa fa-pencil"></i></button>
                                <button class="btn btn-danger btn-xs" id="btnUpdatePage" data-id="{{ page.id }}"><i class="fa fa-trash-o "></i></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>

{% endblock %}